#registerForm{
    background-color: #006db8;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    min-height: 430px;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 4%;
    box-shadow: 0 20px 60px 0 rgb(99, 99, 99);
    line-height: 40px;
}
#formLog{
    font-size: 14px;
}
#formBtn{
    height: 40px;
    width: 100px;
}
